h2,p,button,input[type="text"],label {
    padding: 8px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 6px;
}
input[type="text"], input[type="password"]{
    width: 95%;
    background-color: rgba(253, 248, 248, 0.897);
}
ins {
    color: rgb(45, 136, 181);
}
button {
    width: 25%;
}
button {
    background-color: green;
    color: white;
}
#cancel {
    background-color: red;
}
i {
    color: blue;
}